header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto ; /* Esse é o espaçamento externo, na primeira posição (cima e baixo estou colocando 0), e nas laterais se ajusta automaticamente */
}

nav {
    position: absolute; /* Está em absoluto em relação a classe caixa */
    top: 110px;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}

